.button {
  align-items: center;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  height: 2.75em;
  position: relative;
  vertical-align: top;
}
.button:focus,
.button:active {
  outline: none;
}
.button[disabled] {
  cursor: not-allowed;
}
.button {
  user-select: none;
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  justify-content: center;
  padding-bottom: calc(0.75em - 1px);
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: calc(0.75em - 1px);
  text-align: center;
  white-space: nowrap;
}
.button:hover {
  border-color: #b5b5b5;
  color: #262626;
}
.button:focus {
  border-color: #485fc7;
  color: #262626;
  box-shadow: 0 0 0 0.15em rgba(72, 95, 199, 0.25);
}
.button.is-white {
  background-color: white;
  border-color: transparent;
  color: #0a0a0a;
}
.button.is-white:hover {
  background-color: #fafafa;
  border-color: transparent;
  color: #0a0a0a;
}
.button.is-white:focus {
  border-color: transparent;
  color: #0a0a0a;
  box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.25);
}
.button.is-light {
  background-color: whitesmoke;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light:hover {
  background-color: #e8e8e8;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light:focus {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 0.15em rgba(245, 245, 245, 0.25);
}
.button.is-dark {
  background-color: #262626;
  border-color: transparent;
  color: #fff;
}
.button.is-dark:hover {
  background-color: #1a1a1a;
  border-color: transparent;
  color: #fff;
}
.button.is-dark:focus {
  border-color: transparent;
  color: #fff;
  box-shadow: 0 0 0 0.15em rgba(38, 38, 38, 0.25);
}
.button[disabled] {
  background-color: white;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: 0.5;
}
